# secrets.py

# Weather API credentials
WEATHER_API_KEY = 'your_weather_api_key'
WEATHER_LOCATION = 'your_location'

# MQTT credentials
MQTT_USERNAME = 'your_mqtt_username'
MQTT_PASSWORD = 'your_mqtt_password'
MQTT_SERVER = 'your_mqtt_server_address'
